# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "0ae9315e1db84f546ae6373227043ce6"
name = "GD Product Updater"
application_url = "https://gd-product-updater.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
    "https://gd-product-updater.onrender.com/auth/callback",
    "https://gd-product-updater.onrender.com/auth/shopify/callback",
    "https://gd-product-updater.onrender.com/api/auth/callback"
]
